/* css styles */
.wrapper {
  display: flex;
  height: 100vh; /* Full viewport height */
  align-items: center; /* Center items vertically */
  justify-items: center; /* Center items horizontally */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

body {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=3386);
}

.navbar-logo {
  height: 3.5em !important;
  max-width: unset !important;
  max-height: unset !important;
}