/*-- scss:defaults --*/

// Navbar customization
// $navbar-bg: #133e7c;
$navbar-bg: #1a0933;

$link-color: #3cf281;
$success: #ff5bf8;


// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-size-base:          1.2rem !default;
$h1-font-size:            2rem !default;
$h2-font-size:            2rem !default;
$h3-font-size:            1.5rem !default;
$h4-font-size:            1.5rem !default;
$h5-font-size:            1.5rem !default;

// Reset background from gradient default 
body {
  background-image: linear-gradient(#1a0933 0%, #1a0933 7%, #1a0933 80%, #1a0933 100%) !important;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=3386);
} 

pre {
  background-color: #f0f0f0 !important; 
}

.navbar-brand img { 
  max-height: 100px;
  width: auto;
}

.navbar-logo{
    content: url("logo-inverse.svg");
}

.menu-text { 
  color: #f0f0f0;
}


.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-font-color: white !important;
    --bs-nav-link-color: white !important;
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex
;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* Make the search icon black */
.aa-SubmitIcon {
  fill: white;
}
