/*-- scss:defaults --*/

// Navbar customization
$navbar-bg: #ffffff;


// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-size-base:          1.2rem !default;
$h1-font-size:            2rem !default;
$h2-font-size:            2rem !default;
$h3-font-size:            1.5rem !default;
$h4-font-size:            1.5rem !default;
$h5-font-size:            1.5rem !default;

// $success:       #ea00d9;
$success:       #fb3073;


.navbar{
  --bs-navbar-brand-color: #ff0000 !important;
  --bs-navbar-brand-hover-color: #3cf281;
}

.navbar-brand img { 
  max-height: 100px;
  width: auto;
}

.menu-text { 
  color: black;
}

.nav-link {
  color: black;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-font-color: black !important;
    --bs-nav-link-color: black !important;
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex
;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* Make the toggle icon black in light mode while keeping the same icon */
.quarto-color-scheme-toggle:not(.alternate) .bi::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="black" d="M0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/><circle fill="white" cx="5" cy="8" r="4"/></svg>') !important;
}

/* Make the search icon black */
.aa-SubmitIcon {
  fill: black;
}