/* css styles */
.wrapper {
  display: flex;
  height: 100vh; /* Full viewport height */
  align-items: center; /* Center items vertically */
  justify-items: center; /* Center items horizontally */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

body {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=3386);
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1156.ani), url(https://ani.cursors-4u.net/cursors/cur-13/cur1156.png), auto !important;} /* End https://www.cursors-4u.com */